# Texpad
.texpadtmp/*

# Other files
.DS_Store
CV_Yarik.pdf
core_cv.pdf

#pycharm
.idea

auxil

*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.xml
*.gz

#other files
employment.pdf
education.pdf
misc.pdf
profile.pdf
skills.pdf